body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
    
}

button {
    font-family: 'Space Grotesk', sans-serif;
    color: #00ff00;
    background-color: #111;
    border: 3px solid #00ff00;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-size: 1.5em;
    padding: 6px 12px;
}

button:hover {
    background-color: #00ff00;
    color: #111;
    transform: scale(1.05);
}